<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <form method="post" action="">
    <table style="margin-left: auto; margin-right: auto;">
                  
        <tr>
          <th>authorDisplayName</th>
          <th>textDisplay</th>
          <th>likeCount</th>
        </tr>
        {% for di, dt in table %}
        <tr>
          <td>{{dt['authorDisplayName']}}</td>
          <td>{{dt['textDisplay'] | truncate(45)}}</td>
          <td>{{dt['likeCount']}}</td>
        </tr>
        {% endfor %}
      </table> 
   
    
        <button>Preprocessing data</button>
    </form>
</body>
</html>